<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Split your bills</title>
</head>
	
	<body>
		<div id="navbar">
			<a href="/">Home</a> | <a href="budget">Budget</a> | <a href="bills">Bills</a> | <a href="checklist">To Do</a> | <a href="amenities">Amenities</a> | <a href="transportation">Transportation</a> | <a href="lodging">Lodging</a> | <a href="print">Print</a>
		</div>
	
		<div>
			 	<label> Total Budget </label> <input type="number" name="totalbudget" value=<%= session[:user_budget] %>>
			 	<br>

			 	<form action="/bills" method="post">
			 	<label>Transportation</label><input type="number" name="transportation_bill" value=<%= session[:transportation] %>>
				 	<label>Split by how many? </label> <input type="number" name="transportation_user1">
				<input type="submit" name="split_transportation" value="Split it!" id="btn">
				</form>
				<div> Transportation split: <%= session[:result_transportation]%> </div>
				<br>

				<form action="/bills" method="post">
			 	<label>Lodging</label><input type="number" name="lodging_bill" value=<%= session[:lodging] %>>
				 	<label>Split by how many?</label> <input type="number" name="lodging_user1">
				<input type="submit" name="split_lodging" value="Split it!" id="btn">
				</form>
				<div> Lodging split: <%= session[:result_lodging]%> </div>
				<br>

				<form action="/bills" method="post">
			 	<label>Amenities</label><input type="number" name="amenities_bill" value=<%= session[:amenities] %>>
				 	<label>Split by how many?</label> <input type="number" name="amenities_user1">
				<input type="submit" name="split_amenities" value="Split it!" id="btn">
				</form>
				<div> Amenities split: <%= session[:result_amenities]%> </div>
				<br>

				<form action="/bills" method="post">
			 	<label>Dining</label><input type="number" name="dining_bill" value=<%= session[:dining] %>>
				 	<label>Split by how many?</label> <input type="number" name="dining_user1">
				 <input type="submit" name="split_dining" value="Split it!" id="btn">
				 </form>
				 	<div> Dining split: <%= session[:result_dining]%> </div>
				 <br>

				<form action="/bills" method="post">
			 	<label>Other costs (insurance, visa, vaccines, etc)</label><input type="number" name="other_bill" value=<%= session[:other] %>>
				 	<label>Split by how many?</label> <input type="number" name="other_user1">
				<input type="submit" name="split_other" value="Split it!" id="btn">
				</form>
				<div> Other costs split: <%= session[:result_other]%> </div>
				<br>
		</div>
	</body>
</html>